/* Color Palette
    Orange #ec8453
    Sandy Beige #bcaa96
    Dark Gray #222222
    Light Gray #d3d4d6
    Off-White #f6f6f6 */

body {
    font-family: Helvetica, Geneva, sans-serif; 
    background-image:  url(placeholder\ images/annie-spratt-unsplash.jpg );
    background-position: center;
    background-repeat: no-repeat;
    filter: none;
    background-size:cover
}

main {
    background-color: #eeeeee;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    border-radius: 25px;
    }

h1 {font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: -5%;
    padding-top: none;
    margin-top: 0%;
    max-height: 10%;
    text-shadow: -0.05em 0 red,  0.05em 0 cyan; /* This creates the 3D effect, pretty easy, eh? */
    letter-spacing: 0.1em;}

h2 {font-weight: bolder;
    font-size: 200%;
    text-decoration: underline;
    text-shadow: -0.08em 0 red,  0.08em 0 cyan;
    letter-spacing: .03em ;}    

h3 {font-size: 150%}

img {border: 3px solid  black;
    width: 50%;
    float: right;
    position:center}

a {text-decoration: none;
    color: #858585;
    font-size: 120%;
    text-shadow: -0.08em 0 red,  0.08em 0 cyan;
    letter-spacing: .1em ;}


#wrapper {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 3em;
    padding: 0px 0;
    width: 100%;
    margin-bottom: -5%
  }
  
  span { 
    text-shadow: -0.05em 0 red,  0.05em 0 cyan; /* This creates the 3D effect, pretty easy, eh? */
    letter-spacing: 0.1em; /* make sure the letters don't overlap */
  }

  #stars span {
    display: inline-block;
    transform: scale(2);
    letter-spacing: .1em;
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
  }
 
p {margin:0}
  
  /* Below the stars animation */
  #stars span:nth-child(1), #stars span:nth-child(5) { font-size: 0.7em; animation-delay: 0.2s; }
  #stars span:nth-child(2), #stars span:nth-child(4) { font-size: 1.1em; animation-delay: 0.1s; }
  #stars span:nth-child(3) { font-size: 1.5em; animation-delay: 0s; }
  
  #stars span { animation: stars-animation 3s 50 ease-in-out;
    position:center }
  
  @-webkit-keyframes stars-animation {
    0% { transform: scale(1); }
    90% { transform: scale(1); }
    95% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

  #title {
    font-family: Helvetica, Geneva, sans-serif; /* Any font would work, but SansSerif looks better */
  }
  
  #title span {
    vertical-align: middle;
    line-height: 0em;
    transition: font-size 1s cubic-bezier(0, 1, 0, 1);
  }
  #title span::selection {
    background-color: #ffffff; /* This hides the selection */
  }

#job {text-decoration: none;
    font-family: Helvetica, Geneva, sans-serif; 
    font-size: 80%;
    letter-spacing: .2em;
    font-weight: bold;
    padding-top: 5%}

h1::selection {
    background-color: #ffffff; /* This hides the selection */
  }